/* 共通スタイルは外に書く */
.p-box-1 {
  height: 100px;

}

.p-box-2 {
  height: 250px;
}

.p-box-3 {
  height: 250px;
}

.p-box-4 {
  height: 100px;
}

@media screen and (min-width: 796px) {

  /* pc用スタイル */
  .p-container {
    width: 400px;
    margin: auto;
  }

  .p-container-inner {
    display: flex;
  }

  .p-box-1 {
    background-color: #141f40;
  }

  .p-box-2 {
    background-color: #80bfa8;

    width: 150px;
  }

  .p-box-3 {
    background-color: #8c2727;
    width: 250px;
  }

  .p-box-4 {
    background-color: #d98d30;
  }


}

@media screen and (max-width: 795px) {
  /* sp用スタイル */

  .p-box-1 {
    background-color: #e91e63;
  }

  .p-box-2 {
    background-color: #0093b7;
    width: 100%;
  }

  .p-box-3 {
    background-color: #dbd400;
    width: 100%;
  }

  .p-box-4 {
    background-color: #170e38;
  }

  .p-container-inner {
    display: block;
  }
}